
*.xccheckout
.svn
build
DerivedData
svnignore.*
*.svnignore
*.DS_Store
*.mode1v3
*.pbxuser
*xcuserdata*
*.xcworkspace
.idea
._*


SCItemsBrowser.xcodeproj/xcuserdata/dodikk.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist

*.xcscheme

deployment

appledoc-log.txt

SCItemsBrowser.xcodeproj/xcuserdata/dodikk.xcuserdatad/xcschemes/xcschememanagement.plist
